html {
background-color: #fcfcf5;
}

#titleStripe {
position: relative;
top: 18px;
height: 34px;
background-color: #47571d;
overflow: hidden;
}

#title {
position: relative;
top: 5px;
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #f0f0f0;
text-align: right;
}

#clipboardImg {
position: relative;
float: right;
top: 5px;
height: 60px;
}

#content {
clear: both;
}

#totalSelected {
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #47571d;
text-align: left;
padding-bottom: 10px;
}

#statustitle {
font-weight: bold;
text-align: center;
}

#status-code {
font-weight: bold;
text-align: center;
}

#archive-link {
text-align: center;
}

.select-button {
background: #D0FFD0;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.expand-button {
background: #E0E0E0;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.select-button.ui-state-hover {
background: #A0CFA0;
}
.select-button.ui-state-active {
background: #406F40;
}

.expand-button.ui-state-hover {
background: #A0A0A0;
}
.expand-button.ui-state-active {
background: #404040;
}

.submit-button {
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.stamper-button {
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.modalDialog {
background: #e3dc98;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.modalDialog .ui-button {
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.ui-dialog-buttonpane {
background: #e3dc98;
}

.modalDialog .ui-dialog-titlebar {
display: none;
}

ul.dynatree-container {
background-color: #fbf8e0;
}

span.dynatree-selected a
{
}

span.dynatree-node a
{
font-family: Arial, sans-serif;
color: #47571d;
}

span.sensitiveDoc a {
color: #cd8821;
}

.ui-dynatree-disabled ul.dynatree-container
{
        opacity: 1.0;
        background-color: silver;
}

div.optionSection > div {
clear:both;
padding-top:1em;
padding-bottom:.5em;
}

div.optionSection > div > div {
float:left;
}

div.optionSection > div > span {
float:left;
}

div.optionSection span.label {
font-family: Arial, sans-serif;
font-weight: 600;
color: #47571d;
width:8em;
padding-left:0em;
padding-right:.4em;
}

.radioDiv {
font-family: Arial, sans-serif;
font-weight: 600;
color: #47571d;
}

.radioDiv div.label {
display:inline-block;
vertical-align:top;
left:2em;
padding-right:.4em;
padding-bottom:.4em;
}

.radioDiv span {
font-family: sans-serif;
font-size: .9em;
}

.radioDiv span.details {
font-style: italic;
font-size: .8em;
}

