html {
background-color: #fcfcf5;
}

#titleStripe {
position: relative;
top: 18px;
height: 34px;
background-color: #47571d;
overflow: hidden;
}

#title {
position: relative;
top: 5px;
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #f0f0f0;
text-align: right;
}

#clipboardImg {
position: relative;
float: right;
top: 5px;
height: 60px;
z-index: -1;
}

#totalSelected {
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #47571d;
text-align: left;
padding-bottom: 10px;
}

#statustitle {
font-weight: bold;
text-align: center;
}

#status-code {
font-weight: bold;
text-align: center;
}

#archive-link {
text-align: center;
}

.select-button {
font-size: .9em !important;
background: #D0FFD0;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
width: 8em;
}

.expand-button {
font-size: .9em !important;
background: #E0E0E0;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
width: 8em;
}

.select-button.ui-state-hover {
background: #A0CFA0;
}
.select-button.ui-state-active {
background: #406F40;
}

.expand-button.ui-state-hover {
background: #A0A0A0;
}
.expand-button.ui-state-active {
background: #404040;
}

.submit-button {
margin-top: .5em;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.modalDialog {
background: #e3dc98;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.modalDialog .ui-button {
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.ui-dialog-buttonpane {
background: #e3dc98;
}

.modalDialog .ui-dialog-titlebar {
display: none;
}

ul.dynatree-container {
background-color: #fbf8e0;
}

span.dynatree-selected a
{
}

span.dynatree-node a
{
font-family: Arial, sans-serif;
color: #47571d;
}

span.sensitiveDoc a {
color: #cd8821;
}

.ui-dynatree-disabled ul.dynatree-container
{
        opacity: 1.0;
        background-color: silver;
}

/*
 * Styles for the eFile select controls
 */
.multiselect .choices {
width:330px;
color:#000000;
}
.multiselect .chosen {
width:330px;
color:#0000FF;
}
.multiselect .controls {
padding-left:.5em;
padding-right:.5em;
}
#efileForm span.instruction {
font-family: sans-serif;
font-style: italic;
padding-top:.5em;
padding-bottom:.5em;
}
#efileForm > div {
clear:both;
padding-top:.5em;
padding-bottom:.5em;
}
#efileForm > div > div {
float:left;
}
#efileForm > div > span {
float:left;
}
#efileForm > div > table {
float:left;
}
#efileForm .star {
width:1em;
}
#efileControls span.label {
font-family: sans-serif;
width:8em;
padding-left:0em;
padding-right:.4em;
}
#efileControls input[type=text] {
width:40em;
}
#efileControls .plabel {
font-family: sans-serif;
width:40em;
}
#efile {
padding:10px;
}
#content {
padding:10px;
border:2px solid #47571d;
clear: both;
}
.sectionTitle {
font-weight: bold;
font-family: sans-serif;
font-size: 1.1em;
padding-left:1em;
padding-top:1em;
border-bottom:2px solid #47571d;
}
.elementBox {
padding-top:.5em;
}
.nofloat {
clear:both;
}
.warning {
background-color: #ffd0d0;
}
.error {
font-family: sans-serif;
font-style: italic;
font-size: .8em;
color: #ff0000;
}
.hidden {
visibility: hidden;
}
.confirm-title {
text-align:center;
font-weight: bold;
font-family: sans-serif;
padding-bottom:1em;
}
.confirm-table table {
border-width:1px;
border-style:solid;
border-color: #47571d;
border-spacing:0px;
}
.confirm-table td {
border-width:1px;
border-style:solid;
border-color: #47571d;
padding:5px;
}
.confirm-prompt {
text-align:center;
padding-top:1em;
}
#moreInfoBox {
font-weight: normal;
font-family: sans-serif;
font-size: .8em;
text-align: left;
background-color: #fbf8e0;
padding-left: 1em;
padding-right: .5em;
padding-top: 1em;
padding-bottom: 1em;
float: right;
top: 5px;
width: 2.5in;
border-width:3px;
border-style:solid;
border-color: #cd8821;
}

.translucent {
  background-color: rgba(250, 250, 250, 0.85);
  background: rgba(250, 250, 250, 0.85);
}

.removeAg {
  display:inline-block;
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  cursor: pointer;
}

.otherCoopAgency {
  display: inline-block;
}

.removeOtherAgDiv {
  vertical-align:middle;
  display:inline-block;
  padding:0.3em;
}

.otherCoopAgInstructions {
  display:block;
}
