<script language="javascript">

//Clear out the subcategory options (no category selected)
function hideSubcategories(){
	$('.catActive1').hide();
	$('.catActive1').remove().appendTo('#hiddenSubSelect');
	
	$('.catActive2').hide();
	$('.catActive2').remove().appendTo('#hiddenSubSelect');
	
	$('.catActive3').hide();
	$('.catActive3').remove().appendTo('#hiddenSubSelect');
	
	$('.catActive4').hide();
	$('.catActive4').remove().appendTo('#hiddenSubSelect');
	
	$('.catActive5').hide();
	$('.catActive5').remove().appendTo('#hiddenSubSelect');
	
	$('.catActive6').hide();
	$('.catActive6').remove().appendTo('#hiddenSubSelect');
	
	$('.catActive7').hide();
	$('.catActive7').remove().appendTo('#hiddenSubSelect');
}

//Update the subcategory dropdown based on the selection of the primary category
function updateSubcategories(catType){
	hideSubcategories();
	
	if(catType == '00001'){
		$('.catActive1').show();
		$('.catActive1').remove().appendTo('#subCatSelector');			
	}
	if(catType == '10000'){
		$('.catActive2').show();
		$('.catActive2').remove().appendTo('#subCatSelector');
	}
	if(catType == '20000'){
		$('.catActive3').show();
		$('.catActive3').remove().appendTo('#subCatSelector');
	}
	if(catType == '30000'){
		$('.catActive4').show();
		$('.catActive4').remove().appendTo('#subCatSelector');
	}
	if(catType == '40000'){
		$('.catActive5').show();
		$('.catActive5').remove().appendTo('#subCatSelector');
	}
	if(catType == '60000'){
		$('.catActive6').show();
		$('.catActive6').remove().appendTo('#subCatSelector');
	}
	if(catType == '80000'){
		$('.catActive7').show();
		$('.catActive7').remove().appendTo('#subCatSelector');
	}
}
</script>

<div>
          <span class="star">*</span>
          <span class="required label">EIS Subject Category</span>
          <div>
          	<select id="subjectSelector" name="eisSubjectCategory" onchange="Javascript:updateSubcategories(this.value);$('#subCatSelector').val('0')" class="required">
          		<option value="0">&nbsp;</option>
          		
          			<option title="catType1" value="00001">Energy</option>  
          		
          			<option title="catType6" value="60000">Land Use</option>  
          		
          			<option title="catType2" value="10000">Military & Space</option>  
          		
          			<option title="catType7" value="80000">Other</option>  
          		
          			<option title="catType5" value="40000">Transportation</option>  
          		
          			<option title="catType4" value="30000">Water Resource Development</option>  
          		
          			<option title="catType3" value="20000">Water Supply, Waste Disposal and Pollution Control Systems</option>  
          		  		  
          	</select>
                <div class="error"></div>
          </div>          
</div>
<div>
          <span class="star">*</span>
          <span class="required label">EIS Subject Subcategory</span>
          <div>
          	<select id="subCatSelector" name="eisSubjectSubcategory" class="required">
          		<option value="0">&nbsp;</option>
          		
          			<option value="27000" class="catActive3">Air Pollution Control</option> 		
          		
          			<option value="52000" class="catActive5">Aircraft, Ships and Vehicles</option> 		
          		
          			<option value="51000" class="catActive5">Airports</option> 		
          		
          			<option value="30000" class="catActive4">Beach Erosion, Hurricane Protection, River/Lake Bank Stabilization</option> 		
          		
          			<option value="50000" class="catActive5">Bridge Permits</option> 		
          		
          			<option value="81000" class="catActive7">Buildings for Federal Use</option> 		
          		
          			<option value="80000" class="catActive7">Buildings, Federally Licensed or Assisted {including production facilities)</option> 		
          		
          			<option value="70000" class="catActive6">Comprehensive Resource Management</option> 		
          		
          			<option value="14000" class="catActive2">Decommissioning</option> 		
          		
          			<option value="10000" class="catActive2">Defense Systems</option> 		
          		
          			<option value="38000" class="catActive4">Drainage</option> 		
          		
          			<option value="35000" class="catActive4">Dredge and Fill</option> 		
          		
          			<option value="91000" class="catActive7">Fisheries</option> 		
          		
          			<option value="65000" class="catActive6">Forestry and Range Management</option> 		
          		
          			<option value="55000" class="catActive5">Hazardous Materials</option> 		
          		
          			<option value="20000" class="catActive3">Hazardous and Toxic Substance Disposal</option> 		
          		
          			<option value="85000" class="catActive7">Housing Subdivisions and New Communities</option> 		
          		
          			<option value="26000" class="catActive3">Industrial Wastewater Facilities; Mine Pollution Control</option> 		
          		
          			<option value="31000" class="catActive4">Irrigation, Desalination of Return Flows, Agricultural Water Supply</option> 		
          		
          			<option value="60000" class="catActive6">Land Acquisition or Disposal</option> 		
          		
          			<option value="54000" class="catActive5">Mass Transit</option> 		
          		
          			<option value="11000" class="catActive2">Military Installations</option> 		
          		
          			<option value="01000" class="catActive1">Mining</option> 		
          		
          			<option value="67000" class="catActive6">Mining (non-energy)</option> 		
          		
          			<option value="99000" class="catActive7">Miscellaneous</option> 		
          		
          			<option value="34000" class="catActive4">Multi-Purpose Impoundments</option> 		
          		
          			<option value="28000" class="catActive3">Municipal and Industrial Water Supply Systems</option> 		
          		
          			<option value="21000" class="catActive3">Munition Disposal</option> 		
          		
          			<option value="13000" class="catActive2">Munitions Facilities</option> 		
          		
          			<option value="02000" class="catActive1">Natural Gas and Oil: drilling and exploration</option> 		
          		
          			<option value="03000" class="catActive1">Natural Gas and Oil: transportation, pipeline, storage</option> 		
          		
          			<option value="32000" class="catActive4">Navigation</option> 		
          		
          			<option value="88000" class="catActive7">Noise Control</option> 		
          		
          			<option value="00001" class="catActive1">Nuclear Development (e.g., fuel, reactors)</option> 		
          		
          			<option value="59000" class="catActive5">Other</option> 		
          		
          			<option value="29000" class="catActive3">Other Waste Disposal</option> 		
          		
          			<option value="39000" class="catActive4">Other Water Projects</option> 		
          		
          			<option value="61000" class="catActive6">Parks, Recreation Areas, Wilderness Areas, National Seashores</option> 		
          		
          			<option value="23000" class="catActive3">Pesticides and Herbicides Disposal</option> 		
          		
          			<option value="82000" class="catActive7">Pesticides, Herbicides Use</option> 		
          		
          			<option value="09000" class="catActive1">Power Facilities: conservation</option> 		
          		
          			<option value="07000" class="catActive1">Power Facilities: fossil</option> 		
          		
          			<option value="05000" class="catActive1">Power Facilities: hydroelectric</option> 		
          		
          			<option value="06000" class="catActive1">Power Facilities: nuclear</option> 		
          		
          			<option value="09800" class="catActive1">Power Facilities: other</option> 		
          		
          			<option value="08000" class="catActive1">Power Facilities: transmission</option> 		
          		
          			<option value="87000" class="catActive7">Procurement</option> 		
          		
          			<option value="22000" class="catActive3">Radioactive Waste Disposal</option> 		
          		
          			<option value="53000" class="catActive5">Railroads</option> 		
          		
          			<option value="86000" class="catActive7">Regulatory Activities</option> 		
          		
          			<option value="04000" class="catActive1">Regulatory: allocation</option> 		
          		
          			<option value="04500" class="catActive1">Regulatory: pricing</option> 		
          		
          			<option value="84000" class="catActive7">Research & Development (not already covered)</option> 		
          		
          			<option value="40000" class="catActive5">Roads</option> 		
          		
          			<option value="24000" class="catActive3">Sewage Treatment & Sewerage Facilities</option> 		
          		
          			<option value="25000" class="catActive3">Solid Waste Treatment</option> 		
          		
          			<option value="12000" class="catActive2">Space Programs</option> 		
          		
          			<option value="69000" class="catActive6">Special Development (Expos, Bicentennials, Olympics, etc.)</option> 		
          		
          			<option value="89000" class="catActive7">Urban Programs</option> 		
          		
          			<option value="36000" class="catActive4">Watershed Protection and Flood Control</option> 		
          		
          			<option value="83000" class="catActive7">Weather Modification and Methodology</option> 		
          		
          			<option value="90000" class="catActive7">Wetlands, Estuary, and Ocean Use (Sanctuary, Disposal, etc.)</option> 		
          		
          			<option value="64000" class="catActive6">Wildlife Refuges, Fish Hatcheries</option> 		
          		   
          	</select>
          	<select id='hiddenSubSelect' style="display:none"></select>
                <div class="error"></div>
          </div>    
</div>
