<option value="ACHP">Advisory Council on Hist. Preservation</option>
<option value="USAID">Agency for International Development</option>
<option value="ARS">Agriculture Research Service</option>
<option value="APHIS">Animal &amp; Plant Health Insp. Service</option>
<option value="BPA">Bonneville Power Administration</option>
<option value="BIA">Bureau of Indian Affairs</option>
<option value="BLM">Bureau of Land Management</option>
<option value="USBM">Bureau of Mines</option>
<option value="BOEM">Bureau of Ocean Energy Management, Regulation and Enforcement</option>
<option value="BOP">Bureau of Prisons</option>
<option value="BR">Bureau of Reclamation</option>
<option value="CIA">Central Intelligence Agency</option>
<option value="CDBG">Community Dev. Block Grant</option>
<option value="BRAC">Defense Base Closure &amp; Realign..Com</option>
<option value="DLA">Defense Logistics Agency</option>
<option value="DNFSB">Defense Nuclear  Fac. Safety Board</option>
<option value="DNA">Defense Nuclear Agency</option>
<option value="DSA">Defense Supply Agency</option>
<option value="DRB">Delaware River Basin Commission</option>
<option value="USDA">Department of Agriculture</option>
<option value="DOC">Department of Commerce</option>
<option value="DOD">Department of Defense</option>
<option value="DOE">Department of Energy</option>
<option value="DHS">Department of Homeland Security</option>
<option value="DOJ">Department of Justice</option>
<option value="DOL">Department of Labor</option>
<option value="DOS">Department of State</option>
<option value="DOT">Department of Transportation</option>
<option value="TREAS">Department of Treasury</option>
<option value="VA">Department of Veteran Affairs</option>
<option value="DOI">Department of the Interior</option>
<option value="HHS">Dept. of Health &amp; Human Services</option>
<option value="HUD">Dept. of Housing &amp; Urban Develop.</option>
<option value="DEA">Drug Enforcement Administration</option>
<option value="EDA">Economic Development Admin.</option>
<option value="ERA">Energy Regulatory Administration</option>
<option value="ERDA">Energy Research &amp; Development Adm</option>
<option value="EPA">Environmental Protection Agency</option>
<option value="FSA">Farm Service Agency</option>
<option value="FHA">Farmers Home Administration</option>
<option value="FMSHRC">Fed. Mine Safety &amp; Health Rev. Comm</option>
<option value="FAA">Federal Aviation Administration</option>
<option value="FCC">Federal Communications Commission</option>
<option value="FEMA">Federal Emergency Mgmt. Agency</option>
<option value="FEA">Federal Energy Administration</option>
<option value="FERC">Federal Energy Regulatory Commission</option>
<option value="FHWA">Federal Highway Administration</option>
<option value="FMC">Federal Maritime Commission</option>
<option value="FMCSA">Federal Motor Carrier Safety Admin.</option>
<option value="FPC">Federal Power Commission</option>
<option value="FRA">Federal Railroad Administration</option>
<option value="FRBSF">Federal Reserve Bank of San Francisco</option>
<option value="FTA">Federal Transit Administration</option>
<option value="USFWS">Fish and Wildlife Service</option>
<option value="FDA">Food and Drug Administration</option>
<option value="USFS">Forest Service</option>
<option value="GSA">General Services Administration</option>
<option value="USGS">Geological Survey</option>
<option value="GLB">Great Lakes Basin Commission</option>
<option value="IHS">Indian Health Service</option>
<option value="IRS">Internal Revenue Service</option>
<option value="IBWC">International Boundary &amp; Water Commission</option>
<option value="ICC">Interstate Commerce Commission</option>
<option value="JCS">Joint Chiefs of Staff</option>
<option value="MARAD">Maritime Administration</option>
<option value="MTB">Materials Transportation Bureau</option>
<option value="MSHA">Mine Safety &amp; Health Administration</option>
<option value="MMS">Minerals Management Service</option>
<option value="MESA">Mining Enforcement &amp; Safety</option>
<option value="MRB">Missouri River Basin Commission</option>
<option value="NASA">National Aeronautics &amp; Space Admin.</option>
<option value="NCPC">National Capital Planning Commission</option>
<option value="NHTSA">National Highway Traffic Safety Admin.</option>
<option value="NIH">National Institute of Health</option>
<option value="NMFS">National Marine Fisheries Service</option>
<option value="NNSA">National Nuclear Security Admin.</option>
<option value="NOAA">National Oceanic &amp; Atmospheric Admin.</option>
<option value="NPS">National Park Service</option>
<option value="NSF">National Science Foundation</option>
<option value="NSA">National Secuity Agency</option>
<option value="NTSB">National Transportation Safety Board</option>
<option value="NRCS">Natural Resource Conservation Service</option>
<option value="NER">New England River Basin Commission</option>
<option value="NRC">Nuclear Regulatory Commission</option>
<option value="OCR">Office of Coal Research</option>
<option value="OSM">Office of Surface Mining</option>
<option value="OBR">Ohio River Basin Commission</option>
<option value="RSPA">Research and Special Programs</option>
<option value="REA">Rural Electrification Administration</option>
<option value="RUS">Rural Utilities Service</option>
<option value="SEC">Security and Exchange Commission</option>
<option value="SBA">Small Business Administration</option>
<option value="SCS">Soil Conservation Service</option>
<option value="SRB">Souris-Red-Rainy River Basin Comm.</option>
<option value="STB">Surface Transportation Board</option>
<option value="SRC">Susquehanna River Basin Commission</option>
<option value="TVA">Tennessee Valley Authority</option>
<option value="TPT">The Presidio Trust</option>
<option value="TDA">Trade and Development Agency</option>
<option value="USACE">U.S. Army Corps of Engineers</option>
<option value="USCG">U.S. Coast Guard</option>
<option value="RRB">U.S. Railroad Retirement Board</option>
<option value="USAF">United States Air Force</option>
<option value="USA">United States Army</option>
<option value="USMC">United States Marine Corps</option>
<option value="USN">United States Navy</option>
<option value="USPS">United States Postal Service</option>
<option value="USTR">United States Trade Representative</option>
<option value="UMR">Upper Mississippi Basin Commission</option>
<option value="UMTA">Urban Mass Transportation Admin.</option>
<option value="WAPA">Western Area Power Administration</option>
