<option value="Draft">Draft</option>
<option value="Draft Supplement">Draft Supplement</option>
<option value="Final">Final</option>
<option value="Final Supplement">Final Supplement</option>
<option value="Revised Draft">Revised Draft</option>
<option value="Revised Final">Revised Final</option>
